<div class="container">
<div class="row" style="padding-top:100px">
  <div class="col">  
    <%= form_for event, :html => {class: "form-signin "} do |e|  %>
        <%= e.label :name %>
        <%= e.text_field :name ,class:"form-control" %>
        </br>
        <%= e.label :starts_at %>
        <%= e.text_field :starts_at ,class:"form-control",type:"date" %>
        </br>
        <%= e.label :ends_at %>
        <%= e.text_field :ends_at,class:"form-control",type: "date" %>
        </br>
        <%= e.label :hero_image_url %>
        <%= e.text_field :hero_image_url,class:"form-control" %>
        </br>
        <%= e.label :extended_html_description %>
        <%= e.text_field :extended_html_description,class:"form-control" %>
        </br>
        
        <%= e.fields_for :venue do |builder| %>
          <%= builder.label :Venue %> <br>
          <%= builder.text_field :name, class:'form-control' %> <br>

          <%= builder.label :'Full Address' %>
          <%= builder.text_field :'full_address', class:'form-control' %> <br>

          <%= builder.label :'Region' %>
          <%= builder.select(:region_id, options_from_collection_for_select(regions,"id","name"), {}, {class: 'form-control'}) %> <br>          
        <% end %>

        <%= e.label :category_id %>
        <%= e.select(:category_id,options_from_collection_for_select(categories,"id","name"),{},{class:"form-control"}) %>
        <div class="text-xs-center" style="padding-top:30px">
          <%= e.submit "#{submit_type}", class: "btn btn-success btn-lg" %>
        </div>
    <% end %>
  </div>
</div>
</div>