<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @ticket.name %></h1>
    <br>
    <p> I would like to confirm that you've booked the ticket for <%= @event.name %> </p>
    <p> Please kindly check these info below </p>
    <br>
      <ul>
        <li> Quantity: <%= @ticket.count %> </li>
        <li> Email: <%= @ticket.email %> </li>
        <li> Phone: <%= @ticket.phone %> </li>
        <li> Address: <%= @ticket.address %> </li>
      </ul>
  </body>
</html>